<form (ngSubmit)="addTodo()" [formGroup]="todoForm">

  <div class="form-column">
    <div class="form-row">

      <mat-form-field>
        <mat-label>Title</mat-label>
        <input 
          formControlName="title"
          matInput>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select
        formControlName="priority">
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Due date</mat-label>
        <input
        formControlName="dueDate"
        matInput 
        [matDatepicker]="picker">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

    </div>

    <mat-form-field class="input-description">
      <mat-label>Description</mat-label>
      <input 
        formControlName="description"
        matInput>
    </mat-form-field>
    
    <p *ngIf="!todoForm.get('title')?.valid && todoForm.get('title')?.touched">
      Please enter a valid username!
    </p>

    <p *ngIf="!todoForm.get('priority')?.valid && todoForm.get('priority')?.touched">
      Please enter a valid priority!
    </p>

    <p *ngIf="!todoForm.get('dueDate')?.valid && todoForm.get('dueDate')?.touched">
      Please enter a valid due date!
    </p>

    <p *ngIf="!todoForm.get('description')?.valid && todoForm.get('description')?.touched">
      Please enter a valid description!
    </p>

    <button class="submit-button" [disabled]="!todoForm.valid" mat-flat-button color="primary" type="submit">Submit</button>
  </div>
</form>